@model AdoptMe1.Models.Login
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<div class="Row">
    <div class="mb-4 col-sm-10">
        <form asp-action="Register" method="post">
            <div class="row mb-3" style="margin-left:15%">
                <label asp-for="UserName" class="col-sm-2 col-form-label lable">UserName </label>
                <div class="col-sm-10">
                    <input asp-for="UserName" class="form-control border-info" id="exampleInputUserName">
                    <span asp-validation-for="UserName"></span>
                </div>
            </div>
            <div class="row mb-3" style="margin-left:15%">
                <label asp-for="Password" class="col-sm-2 col-form-label lable">Password </label>
                <div class="col-sm-10">
                    <input asp-for="Password" type="password" class="form-control border-info" id="exampleInputPassword1">
                    <span asp-validation-for="Password"></span>
                </div>
            </div>
            <div class="row mb-3" style="margin-left:15%">
                <label asp-for="isAdmin" class="col-sm-2 col-form-label lable">Admin</label>
                <input asp-for="isAdmin" type="checkbox" style="height:20px; width:20px;margin-left:15px; margin-top:8px;;
">
                <span asp-validation-for="isAdmin"></span>
            </div>
            <button type="submit" class="btn lable mb-3" style="margin-left:50%;height:8vh; width:20vh;">Register</button>
        </form>
    </div>
</div>
