@using AdoptMe1.Models
@model Animal

@{
    ViewBag.Title = "Pet Store - Add";
}
<link href="~/Styles/Layout.css" rel="stylesheet" />
<div class="row mb-4 col-sm-10 " style="padding-top:40px; margin-left:auto; margin-right:auto">
    <form enctype="multipart/form-data" class="Registration border--info " method="post" asp-controller="Admin" asp-action="SaveAnimal">

        <div class="mb-4 col-sm-10" style="margin-left:15%">
            <div class="form-group row mb-3">
                <label asp-for="Name" class="col-sm-2 col-form-label lable"></label>
                <div class="col-sm-10">
                    <input asp-for="Name" placeholder="Name" class="form-control border-info" />
                    <span asp-validation-for="Name" class="text-bg-danger"></span>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label asp-for="Type" class="col-sm-2 col-form-label lable"></label>
                <div class="col-sm-10">
                    <input asp-for="Type" placeholder="Type" class="form-control border-info" />
                    <span asp-validation-for="Type" class="text-bg-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-3">
                <label asp-for="Age" class="col-sm-2 col-form-label lable"></label>
                <div class="col-sm-10">
                    <input asp-for="Age" placeholder="Age" class="form-control border-info" />
                    <span asp-validation-for="Age" class="text-bg-danger"></span>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label asp-for="CategoryId" class="col-sm-2 col-form-label lable custom-category-label"></label>
                <div class="col-sm-10">
                    <select asp-for=CategoryId class="form-control border-info custom-category-input">
                        <option name="" disabled hidden selected>Select Category</option>
                        @foreach (var category in ViewBag.Category)
                        {
                            <option name="CategoryId" value="@category.CategoryId">@category.CategoryName</option>
                        }
                    </select>
                </div>
                <span asp-validation-for="CategoryId" class="text-bg-danger"></span>
            </div>

            <div class="form-group row mb-3">
                <label asp-for="Image" class="col-sm-2 col-form-label lable"></label>
                <div class="col-sm-10 custom-file">
                    <input asp-for="Image" placeholder="Image URL adress" class="form-control custom-file-input border-info" rows="4" />
                    <span asp-validation-for="Image" class="text-bg-danger"></span>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label asp-for="Description" class="col-sm-2 col-form-label lable" style="height:40px"></label>
                <div class="col-sm-10">
                    <textarea asp-for="Description" placeholder="Description" class="form-control border-info" rows="4"></textarea>
                    <span asp-validation-for="Description" class="text-bg-danger"></span>
                </div>
            </div>
            <div>
                <button class="btn lable mb-3" style="margin-left:40%;margin-top:1%;height:8vh; width:20vh;" type="submit">Create</button>

            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('.custom-file-input').on("change", function () {
            var fileName = $(this).val().split * ("\\").pop();
            $(this).next('.custom-file-label').html(fileName);
        });
    })
</script>
<script>
    $(document).ready(function () {
        $('.custom-category-input').on("change", function () {
            var categoryName = $(this).val().split * ("\\").pop();
            $(this).next('.custom-category-label').html(categoryName);
        });
    })
</script>





